{% load static %}
<!-- Footer-->
<footer class="footer bg-dark pt-5">
    <div class="px-lg-3 pt-2 pb-4">
      <div class="mx-auto px-3" style="max-width: 80rem;">
        <div class="row">




          
          <div class="col-xl-2 col-lg-3 col-sm-4 pb-2 mb-4">
            <div class="mt-n1"><a class="d-inline-block align-middle" href="#"><img class="d-block mb-4" src={% static "img/2.png" %} width="117" alt="navolga"></a></div>
            <div class="btn-group dropdown disable-autohide">
              <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-bs-toggle="dropdown"><img class="me-2" src={% static "img/flags/ug.png" %} width="20" alt="English">UGX</button>
              <ul class="dropdown-menu my-1">
                <li class="dropdown-item">
                  <select class="form-select form-select-sm">
                    <option value="ugx">UGX</option>
                    <option value="usd">$ USD</option>
                  </select>
                </li>

                <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src={% static "img/flags/ke.png" %} width="20" alt="Swahili">Kenya</a></li>
                <li><a class="dropdown-item" href="#"><img class="me-2" src={% static "img/flags/rw.png" %} width="20" alt="Kinyarwanda">Rwanda</a></li>
              </ul>
            </div>
          </div>


          <div class="col-xl-3 col-lg-4 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Shop</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" href="#">Volga souvenirs</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Russian Products </a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">African Products </a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">travel Items</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">gifts</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Accesories</a></li>

              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-4">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">About</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" href="#">About us</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Blog</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Videos</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">podcats</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Contacts us</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Navolga Community</a></li>
              </ul>
            </div>
            <div class="widget widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Follow us</h3><a class="btn-social bs-light bs-twitter me-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-light bs-facebook me-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-light bs-instagram me-2 mb-2" href="#"><i class="ci-instagram"></i></a><a class="btn-social bs-light bs-youtube me-2 mb-2" href="#"><i class="ci-youtube"></i></a>
            </div>
          </div>
          <div class="col-xl-4 col-sm-8">
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-light pb-1">Stay informed</h3>
              <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group flex-nowrap"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                  <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Your email" required>
                  <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                </div>
                <div class="form-text text-light opacity-50">Call 0762313001 ,mail: info@navolga.com</div>
                <div class="subscription-status"></div>
              </form>
            </div>
            <div class="widget pb-2 mb-4">
              <h3 class="widget-title text-light pb-1">Download our app</h3>
              <div class="d-flex flex-wrap">
                <div class="me-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>
                <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
                <script src="https://static.elfsight.com/platform/platform.js" async></script>
                <div class="elfsight-app-d99be309-ffcc-4b16-8252-c8dacab59e29" data-elfsight-app-lazy></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-darker px-lg-3 py-3">
      <div class="d-sm-flex justify-content-between align-items-center mx-auto px-3" style="max-width: 80rem;">
        <div class="fs-xs text-light opacity-50 text-center text-sm-start py-3">© All rights reserved. Made by <a class="text-light" href="https://niktecautomations.com/" target="_blank" rel="noopener">Niktec Automation Services</a></div>
        <div class="py-3"><img class="d-block mx-auto mx-sm-start" src={% static "img/cards-alt.png" %} width="187" alt="Payment methods"></div>
      </div>
    </div>
  </footer>
</main>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll data-fixed-element><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src={% static "vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "vendor/simplebar/dist/simplebar.min.js" %}></script>
<script src={% static "vendor/tiny-slider/dist/min/tiny-slider.js" %}></script>
<script src={% static "vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js" %}></script>
<!-- Main theme script-->
<script src={% static "js/theme.min.js" %}></script>
</body>

<!-- Mirrored from cartzilla.createx.studio/home-grocery-store.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Oct 2023 15:49:22 GMT -->
</html>